@use './variables' as *;
@use './fonts' as *;
@use './typography' as *;

@use 'vuetify' with (
  $color-pack: true,
  $reset: true,
  $body-font-family: $body-font-family,
  $font-size-root: $font-size-root,
  $typography: $typography
);

// :root variables are available in the global scope and should be prefixed
// with `--ds-` which stands for design system
:root {
  // colors
  --ds-primary: var(--v-theme-primary);
  --ds-primary-darker: var(--v-theme-primary-darken-1);
  --ds-primary-darkest: var(--v-theme-primary-darken-2);
  --ds-primary-lighter: var(--v-theme-primary-lighten-1);
  --ds-primary-lightest: var(--v-theme-primary-lighten-2);
  --ds-on-primary: var(--v-theme-on-primary);
  --ds-on-primary-darker: var(--v-theme-on-primary-darken-1);
  --ds-on-primary-darkest: var(--v-theme-on-primary-darken-2);
  --ds-on-primary-lighter: var(--v-theme-on-primary-lighten-1);
  --ds-on-primary-lightest: var(--v-theme-on-primary-lighten-2);
  --ds-primary-variant: var(--v-theme-primary-variant);
  --ds-primary-variant-darker: var(--v-theme-primary-variant-darken-1);
  --ds-primary-variant-darkest: var(--v-theme-primary-variant-darken-2);
  --ds-primary-variant-lighter: var(--v-theme-primary-variant-lighten-1);
  --ds-primary-variant-lightest: var(--v-theme-primary-variant-lighten-2);
  --ds-on-primary-variant: var(--v-theme-on-primary-variant);
  --ds-on-primary-variant-darker: var(--v-theme-on-primary-variant-darken-1);
  --ds-on-primary-variant-darkest: var(--v-theme-on-primary-variant-darken-2);
  --ds-on-primary-variant-lighter: var(--v-theme-on-primary-variant-lighten-1);
  --ds-on-primary-variant-lightest: var(--v-theme-on-primary-variant-lighten-2);
  --ds-secondary: var(--v-theme-secondary);
  --ds-secondary-darker: var(--v-theme-secondary-darken-1);
  --ds-secondary-darkest: var(--v-theme-secondary-darken-2);
  --ds-secondary-lighter: var(--v-theme-secondary-lighten-1);
  --ds-secondary-lightest: var(--v-theme-secondary-lighten-2);
  --ds-on-secondary: var(--v-theme-on-secondary);
  --ds-on-secondary-darker: var(--v-theme-on-secondary-darken-1);
  --ds-on-secondary-darkest: var(--v-theme-on-secondary-darken-2);
  --ds-on-secondary-lighter: var(--v-theme-on-secondary-lighten-1);
  --ds-on-secondary-lightest: var(--v-theme-on-secondary-lighten-2);
  --ds-secondary-variant-variant: var(--v-theme-secondary-variant);
  --ds-secondary-variant-darker: var(--v-theme-secondary-variant-darken-1);
  --ds-secondary-variant-darkest: var(--v-theme-secondary-variant-darken-2);
  --ds-secondary-variant-lighter: var(--v-theme-secondary-variant-lighten-1);
  --ds-secondary-variant-lightest: var(--v-theme-secondary-variant-lighten-2);
  --ds-on-secondary-variant: var(--v-theme-on-secondary-variant);
  --ds-on-secondary-variant-darker: var(--v-theme-on-secondary-variant-darken-1);
  --ds-on-secondary-variant-darkest: var(--v-theme-on-secondary-variant-darken-2);
  --ds-on-secondary-variant-lighter: var(--v-theme-on-secondary-variant-lighten-1);
  --ds-on-secondary-variant-lightest: var(--v-theme-on-secondary-variant-lighten-2);
  --ds-background: var(--v-theme-background);
  --ds-on-background: var(--v-theme-on-background);
  --ds-surface: var(--v-theme-surface);
  --ds-on-surface: var(--v-theme-on-surface);
  --ds-background-border: var(--v-theme-background-border);

  // content sizing
  --ds-bdu: #{$bdu};
  --ds-toolbar-height: #{$toolbar-height};
  --ds-device-xs: #{$device-xs};
  --ds-device-sm: #{$device-sm};
  --ds-device-md: #{$device-md};
  --ds-device-lg: #{$device-lg};
  --ds-device-xl: #{$device-xl};
  --ds-device-xxl: #{$device-xxl};
  --ds-device-breakpoint: var(--ds-device-md);

  // fonts
  --ds-base-font-size: #{$font-size-root};
  --ds-font-size-xxs: calc(var(--ds-base-font-size) - 0.4rem);
  --ds-font-size-xs: calc(var(--ds-base-font-size) - 0.2rem);
  --ds-font-size-md: var(--ds-base-font-size);
  --ds-font-size-default: var(--ds-base-font-size);
  --ds-font-size-lg: calc(var(--ds-base-font-size) + 0.2rem);
  --ds-font-size-xl: calc(var(--ds-base-font-size) + 0.4rem);
  --ds-font-size-xxl: calc(var(--ds-base-font-size) + 0.6rem);

  // borders
  --ds-border-style: solid;
  --ds-border-width: 1px;
  --ds-border-primary: var(--ds-border-width) var(--ds-border-style) rgb(var(--ds-primary-darkest));
  --ds-border-primary-variant: var(--ds-border-width) var(--ds-border-style)
    rgb(var(--ds-primary-variant));
  --ds-border-on-background: var(--ds-border-width) dotted rgb(var(--ds-on-surface));
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: var(--ds-font-size-default);
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  color: inherit;
}

.w-min-25 {
  min-width: 25% !important;
}

// Extends spacing utility classes
@media (min-width: #{$device-md}) {
  .w-md-auto {
    width: auto !important;
  }

  .w-md-25 {
    width: 25% !important;
  }

  .w-md-50 {
    width: 50% !important;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .w-md-100 {
    width: 100% !important;
  }
}

.mvh-50 {
  max-height: 50vh !important;
}

// Add new utility classes
.bb-none {
  border-bottom: none !important;
}

.b-dark {
  border-color: rgb(var(--ds-primary-darkest)) !important;
}

.br-on-background {
  border-right: 1px solid rgb(var(--ds-on-background), 0.1) !important;

  &:last-child {
    border-right: none !important;
  }
}

.box-shadow-none {
  box-shadow: none !important;
}

.logo-markers {
  background-image: url('~assets/images/logo-markers-top.png'),
    url('~assets/images/logo-markers-bottom.png');
  background-repeat: no-repeat, no-repeat;
  background-position:
    top left,
    bottom right;
  background-size: 50vmin, 35vmin;
}

.logo-markers-dark {
  background-image: url('~assets/images/logo-markers-top-dark.png'),
    url('~assets/images/logo-markers-bottom-dark.png');
}

.min-height-100 {
  min-height: 100%;
}

.border-bottom {
  border-bottom: 1px solid rgb(var(--ds-on-background), 0.8) !important;
}

.v-dialog--right .v-overlay__content {
  top: 0;
  right: 0;
  left: auto !important;
}

.no-table-borders {
  /* Remove outer border if needed */
  border: none !important;

  thead th,
  tbody td,
  tfoot td {
    border-bottom: none !important;
    border-top: none !important;
  }
}

@media (max-width: #{$device-md}) {
  .child-px-md-0 > * {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}

.underline-dotted {
  text-decoration: underline dotted;
}

.font-monospace {
  font-family: monospace;
}
