---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Products from '../components/Products.astro';
import FAQ from '../components/FAQ.astro';
import Clients from '../components/Clients.astro';
import VerticalDivider from '../components/VerticalDivider.astro';
import Cta from '../components/Cta.astro';
---

<Layout>
  <div class="max-w-full overflow-hidden">
    <Header />
    <div class="container-page text-white pt-28 lg:pt-64 relative z-[1]">
      <Hero />
      <Features />
      <Products />
      <FAQ />
      <Clients />
      <Cta />
    </div>
    <Footer />
  </div>
</Layout>
