---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <div class="max-w-full overflow-hidden">
    <Header />
    <div class="container-page text-white pt-28 lg:pt-64 relative z-[1]">
      <div class="xl:px-24 3xl:px-0 prose prose-invert max-w-none">
        <h1>Orbit License Agreement (“License Agreement”)</h1>

        <p>
          Thank you for your interest in the Orbit Platform, an innovative platform layer built for
          the Internet Computer Protocol and designed to extend to other blockchains to simplify the
          development of decentralized blockchain applications such as Orbit Wallet, which allows
          you to manage your digital assets. For more information about ORBIT, its open-source code
          and related licenses, please refer to the ORBIT github repository found here:
          https://github.com/dfinity/orbit. In this License Agreement the term “ORBIT” refers to the
          Orbit Platform with or without Orbit Wallet, and the terms "You" and "Yours" refer to the
          person using ORBIT.
        </p>

        <p>
          This License Agreement governs Your use of ORBIT. BY USING ORBIT, YOU AGREE THAT YOU HAVE
          READ, UNDERSTOOD, AND AGREE TO BE BOUND BY THIS LICENSE AGREEMENT. IF YOU DO NOT AGREE,
          YOU MAY NOT USE ORBIT.
        </p>

        <p>
          If You choose to use ORBIT, You and the DFINITY Foundation, including its affiliates and
          subsidiaries (collectively “DFINITY”), acknowledge and agree as follows:
        </p>

        <p>
          1. LIMITED LICENSE. Subject to the terms and conditions contained in this License
          Agreement, DFINITY grants You a limited, non-exclusive, non- transferable,
          non-sublicensable, revocable license to use: (i) Orbit Platform only for the purpose of
          blockchain application development, with one such application being Orbit Wallet; and (ii)
          Orbit Wallet, only for the purposes of receiving, holding and sending tokens. You may
          create derivative works to the extent permitted by the licensing terms governing use of
          any open-sourced components included within ORBIT.
        </p>
        <p>
          2. RESTRICTIONS. You are responsible for all activities related to your use of ORBIT,
          regardless of whether the activities are authorized by You or undertaken by You, your
          employees or a third party on your behalf. YOU UNDERSTAND THAT DFINITY IS NOT RESPONSIBLE
          FOR ANY ACTIVITIES OR TRANSACTIONS (WHETHER COMPLETED OR OTHERWISE) ASSOCIATED WITH YOUR
          USE OF ORBIT.
        </p>

        <p>
          You will not misrepresent or embellish the relationship between You and DFINITY, including
          expressing or implying that DFINITY supports, sponsors, endorses, or contributes to You or
          your business endeavors through your use of ORBIT. You will not imply any relationship or
          affiliation with DFINITY except as expressly permitted by this License Agreement. You are
          prohibited from using the Orbit name, logo or any other trademarks related to ORBIT in any
          manner that may imply an endorsement or affiliation, misrepresent your relationship with
          DFINITY or ORBIT, or create confusion regarding the source of ORBIT.
        </p>

        <p>
          3. APPLICABLE LAWS. You will comply with all applicable laws and regulations (including
          without limitation laws and regulations related to export controls, money laundering or
          economic sanctions) in connection with your use of ORBIT and any transactions associated
          with your Orbit Wallet.
        </p>

        <p>
          4. RESERVATION OF DFINITY’S RIGHT. ORBIT is owned by DFINITY and licensed, not sold, to
          You. ORBIT’s content, visual interfaces, interactive features, information, graphics,
          design, compilation, computer code, products, services, and all other elements of ORBIT
          and related documentation, are protected by applicable intellectual property laws. As
          between You and DFINITY, all DFINITY materials and ORBIT, including intellectual property
          rights therein and thereto, are the sole and exclusive property of DFINITY and/or its
          third-party licensors, subject to any open-source software licenses. DFINITY reserves all
          rights not expressly granted in this License Agreement. You do not acquire any right,
          title, or interest to the DFINITY materials or ORBIT, whether by implication, estoppel, or
          otherwise, except for the limited rights set forth in this License Agreement and the
          rights conferred by the licensing terms governing use of any open-sourced components
          included within ORBIT. This License Agreement does not grant you any right to use the
          Orbit name, logo or other trademarks related to ORBIT or DFINITY.
        </p>
        <p>
          6. FEEDBACK. If You provide DFINITY with any comments, ideas, bug reports, feedback,
          enhancements, recommendations or modifications in relation to ORBIT ("Feedback"), such
          Feedback is provided on a non- confidential basis, and DFINITY shall have the right to use
          such Feedback at its discretion, including, but not limited to the incorporation of such
          suggested changes into the DFINITY materials, ORBIT or other services. You hereby grant
          DFINITY a perpetual, irrevocable, transferable, sublicensable, nonexclusive, royalty free
          license under all rights necessary to so incorporate and use your Feedback for any
          purpose, including to make and sell products and services, and agree to provide DFINITY
          with any assistance required to document, perfect and maintain DFINITY’s rights to the
          Feedback. You agree to allow DFINITY to contact You for Feedback from time to time, but
          may opt-out by sending written notice to legalnotice@dfinity.org.
        </p>

        <p>
          7. TERMS AND TERMINATION. This License Agreement will remain in effect until terminated.
          The License Agreement, and your rights and licenses hereunder, will terminate immediately
          upon your breach of the License Agreement. You may terminate the License Agreement at any
          time by emptying your Orbit Wallet of tokens and ceasing all use of ORBIT. DFINITY may
          terminate this License Agreement at any time for any reason, including without limitation
          any actual or suspected misuse or abuse by You of ORBIT or any violation of this License
          Agreement. Sections 3 through 13 shall survive any termination of this License Agreement.
        </p>
        <p>
          8. WARRANTY DISCLAIMER AND LIMITATION OF LIABILITY. TO THE MAXIMUM EXTENT PERMITTED BY
          APPLICABLE LAW, ORBIT IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTY OF ANY KIND. TO
          THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, DFINITY DISCLAIMS ALL WARRANTIES AND
          CONDITIONS, EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING BUT NOT LIMITED TO IMPLIED
          WARRANTIES OR CONDITIONS OF FITNESS FOR A PARTICULAR PURPOSE, MERCHANTABILITY, TITLE,
          QUALITY, RESULTS, AND NON-INFRINGEMENT. DFINITY DOES NOT GUARANTEE THAT ORBIT WILL ALWAYS
          BE AVAILABLE, SAFE, OR SECURE (NOW AND IN THE FUTURE). DFINITY EXPRESSLY DISCLAIMS ANY
          WARRANTIES OF ANY KIND WITH RESPECT TO THE ACCURACY OR FUNCTIONALITY OF ORBIT, AND WITH
          RESPECT TO THE ACCURACY, VALIDITY, OR COMPLETENESS OF ANY INFORMATION OR FEATURES (NOW AND
          IN THE FUTURE) MADE AVAILABLE THROUGH YOUR USE OF ORBIT, OR THE QUALITY OR CONSISTENCY OF
          ORBIT OR RESULTS OBTAINED THROUGH ITS USE. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE
          LAW, UNDER NO CIRCUMSTANCES WILL DFINITY BE LIABLE FOR ANY CONSEQUENTIAL, SPECIAL,
          INDIRECT, INCIDENTAL OR PUNITIVE DAMAGES WHATSOEVER ARISING OUT OF THE USE OR INABILITY TO
          USE AND ACCESS ORBIT OR DFINITY MATERIALS, EVEN IF DFINITY HAS BEEN ADVISED OF THE
          POSSIBILITY OF SUCH DAMAGES, AND NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY
          LIMITED REMEDY. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL
          DFINITY'S AGGREGATE LIABILITY FOR DAMAGES ARISING OUT OF THIS LICENSE AGREEMENT OR YOUR
          USE OR INABILITY TO USE ORBIT EXCEED 100 CHF.
        </p>

        <p>
          9. INDEMNITY. You agree to indemnify, defend and hold DFINITY and its affiliates,
          officers, directors, suppliers, licensors, and other customers harmless from and against
          any and all liability and costs, including reasonable attorneys' fees incurred by such
          parties, in connection with your use or misuse of ORBIT or your violation of this License
          Agreement or any applicable law or regulation.
        </p>
        <p>
          10. GOVERNING LAW; VENUE. Any claim relating to ORBIT shall be governed by the laws of
          Switzerland, to the exclusion of the rules on conflicts of laws. Any claim or dispute
          related to this License Agreement or in relation to it shall (including for
          non-contractual disputes or claims and their interpretation) be subject to the exclusive
          jurisdiction of the Courts of Zurich, Switzerland, subject to an appeal at the Swiss
          Federal Court.
        </p>
        <p>
          11. ENTIRE AGREEMENT AND SEVERABILITY. This License Agreement is the entire agreement
          between You and DFINITY, and supersedes any and all prior agreements, negotiations, or
          other communications between You and DFINITY, whether oral or written, with respect to the
          subject matter hereof. DFINITY may make changes to this License Agreement when new
          versions of ORBIT are made available. In the event that any provision of this License
          Agreement is held to be invalid or unenforceable, then: (a) such provision shall be deemed
          reformed to the extent strictly necessary to render such provision valid and enforceable,
          or if not capable of such reformation shall be deemed severed from this License Agreement;
          and (b) the validity and enforceability of all of the other provisions hereof, shall in no
          way be affected or impaired thereby.
        </p>
        <p>
          12. ASSIGNMENT. You may not assign this License Agreement without the prior written
          consent of DFINITY, whether expressly or by operation of law, including in connection with
          a merger or change of control, and any such attempted assignment shall be void and of no
          effect. DFINITY may assign this License Agreement without restriction and without any
          notice to You. Subject to the foregoing, this License Agreement shall be binding on the
          parties and their respective successors and permitted assigns.
        </p>
        <p>
          13. NO WAIVER. The failure to exercise, or delay in exercising, a right, power, or remedy
          provided in this License Agreement or by law shall not constitute a waiver of that right,
          power, or remedy. DFINITY 's waiver of any obligation or breach of this License Agreement
          shall not operate as a waiver of any other obligation or subsequent breach of the License
          Agreement.
        </p>
        <p>
          14. ENGLISH VERSION. The English language version of this License Agreement shall be the
          official and controlling version of the agreement if any conflict should arise. All
          communications and notices made pursuant to this License Agreement must be in the English
          language.
        </p>
      </div>
    </div>
    <Footer />
  </div>
</Layout>
