[workspace]
resolver = "2"
members = [
  "canisters/control-panel",
  "canisters/integration_tests",
  "canisters/upgrader",
  "canisters/wallet",
  "libs/ic-canister-core",
  "libs/ic-canister-macros",
]

[profile.release]
lto = true
opt-level = 'z'
codegen-units = 1

[workspace.dependencies]
anyhow = "1.0.75"
async-trait = "0.1"
byteorder = "1.5"
candid = { version = "0.9.10", features = ["parser"] }
convert_case = "0.6"
futures = "0.3"
getrandom = { version = "0.2", features = ["custom"] }
hex = "0.4"
ic-canister-core = { path = "./libs/ic-canister-core" }
ic-canister-macros = { path = "./libs/ic-canister-macros" }
ic-cdk = "0.11"
ic-cdk-macros = "0.8"
ic-cdk-timers = "0.5"
ic-ledger-types = "0.8"
ic-stable-structures = "0.6.0"
lazy_static = "1.4.0"
mockall = "0.11.4"
num-bigint = "0.4"
num-traits = "0.2"
pocket-ic = "1.0.0"
proc-macro2 = "1.0"
quote = "1.0"
rand_chacha = "0.3.1"
rstest = "0.18.2"
serde = "1.0.188"
serde_bytes = "0.11"
serde_json = "1.0"
sha2 = "0.10"
syn = { version = "2.0", features = ["extra-traits", "full"] }
thiserror = "1.0.48"
time = { version = "0.3", features = ["formatting", "parsing"] }
tokio = { version = "1.33.0", features = ["full"] }
uuid = { version = "1.4.1", features = ["serde", "v4"] }
