[workspace]
resolver = "2"
members = [
    "core/control-panel/api",
    "core/control-panel/impl",
    "core/station/api",
    "core/station/impl",
    "core/upgrader/api",
    "core/upgrader/impl",
    "libs/canfund",
    "libs/orbit-essentials",
    "libs/orbit-essentials-macros",
    "libs/orbit-essentials-macros-tests",
    "tests/integration",
    "tools/dfx-orbit",
]

[workspace.package]
authors = ["DFINITY Stiftung"]
edition = "2021"
repository = "https://github.com/dfinity/orbit"
homepage = "https://github.com/dfinity/orbit#readme"
license = "Apache-2.0"

[profile.release]
lto = true
opt-level = 'z'
codegen-units = 1

[workspace.dependencies]
anyhow = "1.0.75"
deunicode = "1.4.4"
async-trait = "0.1"
byteorder = "1.5"
canbench-rs = "0.1.1"
candid = "0.10.3"
candid_parser = "0.1.3"
convert_case = "0.6"
futures = "0.3"
getrandom = { version = "0.2", features = ["custom"] }
hex = "0.4"
ic-cdk = "0.13.2"
ic-cdk-macros = "0.9"
ic-cdk-timers = "0.7.0"
ic-ledger-types = "0.10.0"
ic-stable-structures = "0.6.4"
lazy_static = "1.4.0"
mockall = "0.12.1"
num-bigint = "0.4"
num-traits = "0.2"
pocket-ic = { git = "http://github.com/dfinity/ic", rev = "bb2387f174b2509dd7b75a9ba2d6db5ea33ec0d6" }
proc-macro2 = "1.0"
prometheus = "0.13.3"
quote = "1.0"
rand_chacha = "0.3.1"
rstest = "0.18.2"
serde = "1.0.188"
serde_bytes = "0.11"
serde_json = "1.0"
serde_cbor = "0.11.2"
sha2 = "0.10"
syn = { version = "2.0", features = ["extra-traits", "full"] }
thiserror = "1.0.48"
time = { version = "0.3", features = ["formatting", "parsing"] }
tokio = { version = "1.33.0" }
uuid = { version = "1.4.1", features = ["serde", "v4"] }
wat = "1.0.52"
semver = "1.0.23"
