[workspace]
resolver = "2"
members = [
    "tests/integration",
    "core/control-panel/api",
    "core/control-panel/impl",
    "core/upgrader/api",
    "core/upgrader/impl",
    "core/station/api",
    "core/station/impl",
    "libs/canfund",
    "libs/ic-canister-core",
    "libs/ic-canister-macros",
]

[profile.release]
lto = true
opt-level = 'z'
codegen-units = 1

[workspace.dependencies]
control_panel_api = { path = "./core/control-panel/api" }
upgrader_api = { path = "./core/upgrader/api" }
station_api = { path = "./core/station/api" }
anyhow = "1.0.75"
deunicode = "1.4.4"
async-trait = "0.1"
byteorder = "1.5"
canbench-rs = "0.1.1"
candid = "0.10.3"
candid_parser = "0.1.3"
canfund = { path = "./libs/canfund" }
convert_case = "0.6"
futures = "0.3"
getrandom = { version = "0.2", features = ["custom"] }
hex = "0.4"
ic-canister-core = { path = "./libs/ic-canister-core" }
ic-canister-macros = { path = "./libs/ic-canister-macros" }
ic-cdk = "0.13.1"
ic-cdk-macros = "0.9"
ic-cdk-timers = "0.7.0"
ic-ledger-types = "0.10.0"
ic-stable-structures = "0.6.0"
lazy_static = "1.4.0"
mockall = "0.12.1"
num-bigint = "0.4"
num-traits = "0.2"
# This is a temporary workaround for pocket-ic to use the latest version of ic-cdk that is 
# already in master but not yet published to crates.io
pocket-ic = { git = "https://github.com/dfinity/ic.git", rev = "6397368" }
proc-macro2 = "1.0"
prometheus = "0.13.3"
quote = "1.0"
rand_chacha = "0.3.1"
rstest = "0.18.2"
serde = "1.0.188"
serde_bytes = "0.11"
serde_json = "1.0"
serde_cbor = "0.11.2"
sha2 = "0.10"
syn = { version = "2.0", features = ["extra-traits", "full"] }
thiserror = "1.0.48"
time = { version = "0.3", features = ["formatting", "parsing"] }
tokio = { version = "1.33.0" }
uuid = { version = "1.4.1", features = ["serde", "v4"] }
