$bdu: 8px;
$base-font-size: 16px;
$toolbar-height: $bdu * 6;
$device-xs: 0px;
$device-sm: 600px;
$device-md: 960px;
$device-lg: 1280px;
$device-xl: 1920px;
$device-xxl: 2560px;
$device-breakpoint: $device-md;
