---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Orbit</title>
    <meta
      name="description"
      content="Orbit is a multi-sig security meets on-chain asset management for seamless governance."
    />
    <meta property="og:image" content="/share.jpg" />
  </head>
  <body class="">
    <slot />
  </body>
</html>
