---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Orbit</title>
    <meta
      name="description"
      content="Secure, onchain, multi-approver governance for multichain assets. No matter the size of your team, Orbit offers multisig payment workflows, multi-approver governance, and automated controls for digital assets and smart contracts."
    />
    <meta property="og:title" content="Orbit" />
    <meta
      property="og:description"
      content="Secure, onchain, multi-approver governance for multichain assets. No matter the size of your team, Orbit offers multisig payment workflows, multi-approver governance, and automated controls for digital assets and smart contracts."
    />
    <meta property="og:image" content="https://orbit.global/share.jpg" />
    <meta property="og:url" content="https://orbit.global" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Orbit" />
    <meta
      name="twitter:description"
      content="Secure, onchain, multi-approver governance for multichain assets."
    />
    <meta name="twitter:image" content="https://orbit.global/share.jpg" />
    <meta name="theme-color" content="#0E0D0E" />
    <link rel="canonical" href="https://orbit.global" />
  </head>
  <body class="">
    <slot />
  </body>
</html>
