<section id="clients" class="pt-28 lg:pt-60 relative">
  <div
    class="absolute bg-radial from-white/5 lg:to-50% -translate-y-1/2 left-1/2 -translate-x-1/2 aspect-square w-screen z-[1000] pointer-events-none"
  >
  </div>
  <div class="grid grid-cols-1 grid-rows-1">
    <p class="text-h4 lg:text-h2 col-start-1 row-start-1 text-gradient">
      Orbit revolutionizes asset distributions by providing secure, efficient solutions that
      seamlessly integrate with traditional financial processes. With features like bulk uploads,
      multi-approver mechanisms, and KYC verification, it ensures compliance, transparency, and
      enhanced security in managing digital assets.
    </p>
  </div>
</section>
