---
import VerticalDivider from './VerticalDivider.astro';
---

<div class="grid grid-cols-1 grid-rows-1 items-end pt-28 lg:pt-0">
  <h2 class="text-h3 lg:text-h2 lg:w-lg col-start-1 row-start-1">Ready to secure your assets?</h2>
  <div class="col-start-1 row-start-1 hidden lg:block">
    <VerticalDivider />
  </div>
</div>
