---
import FAQItem from './FAQItem.astro';
---

<section class="lg:pt-60" id="faq">
  <h2 class="text-h2">All about Orbit</h2>

  <div class="flex flex-col space-y-10 lg:pt-20">
    <FAQItem question="What is Orbit?" checked="checked">
      <p>
        Orbit is a secure and scalable solution for asset management and governance for DAOs and
        teams, offering multi-signature approvals for transparent decision-making, real-time
        treasury tracking with streamlined approvals, and auditable smart-contract deployment to
        enhance operational security and efficiency.
      </p>
    </FAQItem>
    <FAQItem question="Who can use Orbit?">
      <p>
        Orbit is designed for DAOs and teams of any size. It's a secure and scalable solution for
        asset management and governance, offering multi-signature approvals for transparent
        decision-making, real-time treasury tracking with streamlined approvals, and auditable
        smart-contract deployment to enhance operational security and efficiency.
      </p>
    </FAQItem>
    <FAQItem question="How secure is Orbit?">
      <p>
        Orbit is designed for DAOs and teams of any size. It's a secure and scalable solution for
        asset management and governance, offering multi-signature approvals for transparent
        decision-making, real-time treasury tracking with streamlined approvals, and auditable
        smart-contract deployment to enhance operational security and efficiency.
      </p>
    </FAQItem>
    <FAQItem question="Which tokens are supported?">
      <p>
        Orbit is designed for DAOs and teams of any size. It's a secure and scalable solution for
        asset management and governance, offering multi-signature approvals for transparent
        decision-making, real-time treasury tracking with streamlined approvals, and auditable
        smart-contract deployment to enhance operational security and efficiency.
      </p>
    </FAQItem>
  </div>
</section>
