---
const { question, checked = undefined } = Astro.props;
---

<div class="pb-9 border-b border-white">
  <div
    class="group grid grid-rows-[max-content_0fr] overflow-hidden has-checked:grid-rows-[max-content_1fr] transition-all has-focus-visible:outline-2 outline-offset-4 outline-white rounded-md"
  >
    <label class="cursor-pointer has-checked:mb-4 focus:outline-none" tabindex="0">
      <input type="radio" name="faq" class="hidden" checked={checked} />
      <h3 class="text-h4 lg:text-h3 flex items-center justify-between">
        {question}
        <svg
          width="37"
          height="37"
          viewBox="0 0 37 37"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="group-has-checked:rotate-90 transition-transform"
        >
          <path
            class="group-has-checked:opacity-0 transition-opacity"
            d="M6 18.5234H31.1429"
            stroke="white"
            stroke-width="2.28571"></path>
          <path
            class="group-has-checked:opacity-100 transition-opacity"
            d="M18.5714 5.95166L18.5713 31.0945"
            stroke="white"
            stroke-width="2.28571"></path>
        </svg>
      </h3>
    </label>

    <div class="min-h-0 group-has-checked:min-h-fit text-body-medium text-white/50">
      <slot />
    </div>
  </div>
</div>
