---
import { walletUrl, docsUrl } from '../lib/config';
import ProductPanel from './ProductPanel.astro';
---

<section class="pt-28 lg:pt-40 pb-4" id="products">
  <h2 class="text-h4 lg:text-h3">Experience Orbit</h2>

  <div class="mt-10 lg:mt-16">
    <div class="flex flex-col lg:flex-row gap-x-10 gap-y-10">
      <ProductPanel title="Users" label="WALLET" href={walletUrl} image="/orbit-app.svg">
        Use the enterprise-grade, multisig wallet
      </ProductPanel>

      <ProductPanel title="Developers" label="STATION" href={docsUrl} image="/orbit-station.svg">
        Get the latest docs to integrate seamlessly
      </ProductPanel>
    </div>
  </div>
</section>
