@use 'sass:map';
@use './variables' as *;
@use './functions' as *;

$heading-font-family: $body-font-family !default;

$typography: () !default;
$typography: map-deep-merge(
  (
    'h1': (
      'size': 3.4rem,
      'weight': 300,
      'line-height': 3.6rem,
      'letter-spacing': -0.015625em,
      'font-family': $heading-font-family,
      'text-transform': none,
    ),
    'h2': (
      'size': 2.75rem,
      'weight': 300,
      'line-height': 2.95rem,
      'letter-spacing': -0.0083333333em,
      'font-family': $heading-font-family,
      'text-transform': none,
    ),
    'h3': (
      'size': 2.5rem,
      'weight': 400,
      'line-height': 3.7rem,
      'letter-spacing': normal,
      'font-family': $heading-font-family,
      'text-transform': none,
    ),
    'h4': (
      'size': 1.8rem,
      'weight': 400,
      'line-height': 2rem,
      'letter-spacing': 0.0073529412em,
      'font-family': $heading-font-family,
      'text-transform': none,
    ),
    'h5': (
      'size': 1.5rem,
      'weight': 400,
      'line-height': 2rem,
      'letter-spacing': normal,
      'font-family': $heading-font-family,
      'text-transform': none,
    ),
    'h6': (
      'size': 1.25rem,
      'weight': 500,
      'line-height': 2rem,
      'letter-spacing': 0.0125em,
      'font-family': $heading-font-family,
      'text-transform': none,
    ),
    'subtitle-1': (
      'size': 1rem,
      'weight': normal,
      'line-height': 1.75rem,
      'letter-spacing': 0.009375em,
      'font-family': $body-font-family,
      'text-transform': none,
    ),
    'subtitle-2': (
      'size': 0.875rem,
      'weight': 500,
      'line-height': 1.375rem,
      'letter-spacing': 0.0071428571em,
      'font-family': $body-font-family,
      'text-transform': none,
    ),
    'body-1': (
      'size': 1rem,
      'weight': 400,
      'line-height': 1.5rem,
      'letter-spacing': 0.03125em,
      'font-family': $body-font-family,
      'text-transform': none,
    ),
    'body-2': (
      'size': 0.875rem,
      'weight': 400,
      'line-height': 1.25rem,
      'letter-spacing': 0.0178571429em,
      'font-family': $body-font-family,
      'text-transform': none,
    ),
    'button': (
      'size': 0.875rem,
      'weight': 500,
      'line-height': 2.25rem,
      'letter-spacing': 0.0892857143em,
      'font-family': $body-font-family,
      'text-transform': uppercase,
    ),
    'caption': (
      'size': 0.75rem,
      'weight': 400,
      'line-height': 1.25rem,
      'letter-spacing': 0.0333333333em,
      'font-family': $body-font-family,
      'text-transform': none,
    ),
    'overline': (
      'size': 0.75rem,
      'weight': 500,
      'line-height': 2rem,
      'letter-spacing': 0.1666666667em,
      'font-family': $body-font-family,
      'text-transform': uppercase,
    ),
  ),
  $typography
);
