@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sl-color-bg-nav: #030024;
    --sl-color-hairline-light: --sl-color-bg-nav;
    --sl-color-hairline-shade: --sl-color-bg-nav;
    --sl-color-bg-sidebar: --sl-color-bg-nav;
  }

  .page {
    background-color: #030024;
  }

  .hero-bg {
    background: url('../assets/logo-markers-bg.png') no-repeat bottom left / 50vmin;
    position: absolute;
    inset: 0 0 auto auto;
    height: 100vh;
    width: 100vw;
    z-index: -1;
  }

  [data-theme='light'] .page {
    background-color: theme('colors.white');
  }

  :root[data-theme='light'] {
    --sl-color-bg-nav: theme('colors.white');
    --sl-color-hairline-light: theme('colors.white');
    --sl-color-hairline-shade: theme('colors.white');
  }

  [data-theme='light'] body {
    background-color: theme('colors.white');
  }

  .header img {
    padding: 0.2em 0;
  }
}
